<div class="entry">
  <div class="entry-header">
    <span><%= @post.title %></span>
    <span><span class="entry-posted-by">Posted by&nbsp;</span><%= @post.user.username %></span>
    <span><%= time_ago_in_words(@post.created_at) %></span>
  </div>
  <img class="entry-photo" src="<%= @post.image %>">
  <div class="entry-edit-delete">
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
    <form action="/posts/<%= @post.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
