<!DOCTYPE html>
<html>
<head>
  <title>ScribbleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="msg">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="container">
    <header>
      <h1><%= link_to "HipScrib", root_path %></h1>
      <nav>
        <%= link_to "New Post", new_post_path, class:"new-post"  %>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"new-post"  %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class:"new-post"  %>
          <%= link_to "Sign up", new_user_registration_path, class:"new-post"  %>
        <% end %>
      </nav>
    </header>
      <%= yield %>
    </div>
</body>
</html>
